.header
{
    background-image: url('https://i.ibb.co/tCfnBhD/header-img.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center; 
	border: 1px solid #000000;
}

.footer
{
    background-image: url('https://i.ibb.co/gZn1gBL/footer-img.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center; 
}

.seller-logo
{
  padding-top: 5px;
  padding-left: 5px;
  width: 8%;
  opacity: 0.8;
}

.game-logo
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 40%;
}

#description
{
    background-color: rgb(0, 0, 0);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center; 
}

.item-image
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 50px;
  border: 3px solid #c4001a;
  border-style: dotted;
}

.description-contents
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#descrip-row
{
border-right: 3px solid #FFFFFF;
background-image: url('https://i.ibb.co/0c8wS5C/image-bg.png');
 background-size: cover;
   background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-bottom: 50px;
  border: 1px solid #000000;
}

.inner
{
 border-top: 10px solid rgb(203, 212, 194);
}

h2
{
  font-family: 'Bebas Neue', cursive;
  margin: auto;
  padding-top: 20px;
  text-align: center;
  color: #c4001a;
  text-shadow: 4px 4px 4px #000000;
}

h5
{
  font-family: 'Bebas Neue', cursive;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FFFFFF;
  text-shadow: 4px 4px 4px #000000;
}

#h5-text
{
  font-family: 'Bebas Neue', cursive;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  text-shadow: 4px 4px 4px #000000;
  color: #FFFFFF;
}

.descrip-text
{
  font-family: 'Bebas Neue', cursive;
  margin: auto;
  padding-top: 10px;
  text-align: center;
  color: white;
  font-size: 22px;
}

#footer-table
{
  font-family: 'Bebas Neue', cursive;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #FFFFFF;
}

.other-items
{
  border-top: 3px solid #FFFFFF;
  font-family: 'Bebas Neue', cursive;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #FFFFFF;
}

#announcement-banner-top
{
background-color: #5b191d;
 background-size: cover;
   border: 1px solid #000000;
 
}

#announcement-banner-bottom
{
 background-color: #5b191d;
 border: 1px solid #000000;
 text-align: center;
}

h3
{
  font-family: 'Bebas Neue', cursive;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FFFFFF;
  text-shadow: 4px 4px 4px #000000;
}
